<html>
<head>
<title>menu</title>
<link rel="stylesheet" href="$config.static/css/base.css" type="text/css" />
<link rel="stylesheet" href="$config.static/css/menu.css" type="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<script language='javascript'>var curopenItem = '1';</script>
<script language="javascript" type="text/javascript" src="$config.static/js/frame/menu.js"></script>
<base target="main" />
</head>
<body target="main">
<table width='99%' height="100%" border='0' cellspacing='0' cellpadding='0'>
  <tr>
    <td style='padding-left:3px;padding-top:8px' valign="top">
	<!-- Item 1 Strat -->
      <dl class='bitem'>
        <dt onClick='showHide("items1_1")'><b>设备列表</b></dt>
        <dd style='display:block' class='sitem' id='items1_1'>
          <ul class='sitemu'>
            <li>
              <div class='items'>
                <div class='fllct'><a href='main' target='main'>电站信息</a></div>               
              </div>
            </li>
            <li>
              <div class='items'>
                <div class='fllct'><a href='weather' target='main'>气象站信息</a></div>               
              </div>
            </li>
            <li>
              <div class='items'>
                <div class='fllct'><a href='list' target='main'>逆变器列表</a></div>               
              </div>            
            </li>
          </ul>
        </dd>
      </dl>
      <!-- Item 1 End -->
      <!-- Item 2 Strat -->
      <dl class='bitem'>
        <dt onClick='showHide("items2_1")'><b>版权所有</b></dt>
        <dd style='display:block' class='sitem' id='items2_1'>
          <ul class='sitemu'>
            <li><a href='http://www.yssolarsoul.com' target='_blank'>浙江永升新能源</a></li>
          </ul>
        </dd>
      </dl>
      <!-- Item 2 End -->
	  </td>
  </tr>
</table>
</body>
</html>
